@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html {

  background: linear-gradient(to bottom right, #577399, #BDD5EA);
}

body {

  margin-left: 50px;
  margin-right: 50px;
}

header {

  border-bottom: 5px solid black;
}

h1, h2 {

  font-family: 'Roboto', sans-serif;
}

p {

  font-family: 'Open Sans', sans-serif;
}
div.image {

  display: grid;
  grid-template-columns: 1fr;

}

a {

  width: 100%;




}
img {

  width: 100%;




}
div.section {

  display: grid;
  grid-template-columns: 1fr;
}
div.headPara {

  display: grid;
  grid-template-columns: 1fr;
}
h2 {

  text-align: center;

}

p {

  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}
iframe {

  justify-content: center;
}



iframe {

  width: 100%;
  min-height: 400px;
}
