/*
  style.CSS :

  index
  + Fonts
  + General
  + Typography
  + Grid
  + Header
  + Sections




*/

/* ===================
   Import fonts
   =================== */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/* ===================
   General styles
   =================== */

html {

  background: linear-gradient(to bottom right, #577399, #BDD5EA);
  font-size: 20px;
}

body {

  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

div.section {

  margin-bottom: 100px;
}

img {

  width: 100%;
  height: 100%;
  justify-content: center;
  max-height: 400px;

}

p {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;

}

h2 {

  text-align: center;

}

#intro {

  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

}

iframe {

  justify-content: center;
  width: 100%;
  min-height: 400px;
  max-height: 500px;
}

/* ===================
   Typography scheme
   =================== */

h1, h2 {

  font-family: 'Roboto', sans-serif;
}

p {

  font-family: 'Open Sans', sans-serif;
}

/* ===================
   Grid styles
   =================== */

/* This section is for mobile to where I found the
   website to be unreadable.
   Queries if it is a screen and if less than 1000px wide. */
@media screen and (max-width: 1000px) {

  div.image {

    display: grid;
    grid-template-columns: 1fr;

  }

  div.section {

    display: grid;
    grid-template-columns: 1fr;
  }
}

/* This section is for a monitor.
   Queries if it is a screen and if greater 1000px wide. */
@media screen and (min-width: 1001px) {

  div.section {

    display: grid;


  }

  /* alternating sides where image is placed */
  #dataCollect, #explainedVid {

    grid-template-columns: 1fr 60%;

  }

  #dataViz {

    grid-template-columns: 60% 1fr;
  }


}


/* ===================
  Header styles
  =================== */

header {
  border-bottom: 5px solid black;
  border-color: #5B5162;
}

/* ===================
   Section styles
   =================== */

@media screen and (max-width: 1000px) {

  div p {

    margin-top: 20px;
  }


}

@media screen and (min-width: 1001px) {


  /* first and last sections */
  #dataCollect h2, #explainedVid h2 {

    grid-column: 1 / 2;
    grid-row: 1 / 2;


  }

  #dataCollect p, #explainedVid p {


    grid-column: 2 / 3;
    grid-row: 2 / 3;


  }

  #dataCollect div.image, #explainedVid div.image {

    grid-column: 1 / 2;
    grid-row: 2 / 3;


  }

  /* middle section between the above sections */
  #dataViz h2 {

    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  #dataViz div.image {

    grid-column: 2 / 3;
    grid-row: 2 / 3;

  }

}

/* ===================
  Footer styles
  =================== */
